.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  padding-top: 30px;
  background-color: rgb(255, 255, 255);
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 70px;
}

.logo-image {
  height: 30px;
  width: auto;
}

.nav-links {
  display: flex;
  gap: 20px;
  padding-right: 70px;
}

.nav-button {
  text-decoration: none;
  color: black;
  font-size: 18px;
  padding: 5px 10px;
  border: 2px solid transparent;
  border-radius: 4px;
}
